.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .image-gallery {
    display: flex;
    justify-content: space-between;
  }
  
  .image-gallery img {
    width: 250px;
    height: 400px;
    object-fit: cover;
  }
